src/main/mule/electricalaap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55a5d396-57a3-4abd-a4d0-20dc8a805ccf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="74768981-387c-4682-adcc-2bf7e1d3fcba" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Sami" database="world" />
	</db:config>
	<flow name="electricalaapFlow" doc:id="9d687062-7b21-433b-a7cd-d5b5b038eded" >
		<http:listener doc:name="Listener" doc:id="1ee51039-3d70-423f-91bf-912d48c7ac08" config-ref="HTTP_Listener_config" path="/engineer"/>
		<db:select doc:id="06607e7d-fe3d-4f78-bf80-fae741a013ea" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM city limit 10]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="43f6f205-94c8-4eba-bf8f-81ddb190a768" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1940b2b7-dcfb-4a79-b558-ed277110f68c" message="#[payload]"/>
	</flow>
</mule>
